pkgbase = kj-youtube-dl-git
	pkgdesc = yup, yet another youtube-dl/yt-dlp GUI wrapper
	pkgver = r11.201f27f
	pkgrel = 1
	url = https://github.com/kj-sh604/kj-youtube-dl
	arch = x86_64
	license = 0BSD
	makedepends = git
	makedepends = pkgconf
	depends = gtk3
	depends = yt-dlp
	optdepends = mpv: streaming support
	provides = kj-youtube-dl
	conflicts = kj-youtube-dl
	source = git+https://github.com/kj-sh604/kj-youtube-dl.git
	sha384sums = SKIP

pkgname = kj-youtube-dl-git
